body {
    background-color: rgb(209, 172, 245);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ol-title {
    text-decoration: underline;
}

.boxed {
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(219, 247, 218);
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
}

li {
    margin-bottom: 6px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}